[Desktop Entry]
Encoding=UTF-8
Name=Zioncoin Core
Comment=Connect to the Zioncoin P2P Network
Comment[de]=Verbinde mit dem Zioncoin peer-to-peer Netzwerk
Comment[fr]=Zioncoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Zioncoin, eşten eşe kriptografik sanal para birimi
Exec=Zioncoin-qt %u
Terminal=false
Type=Application
Icon=Zioncoin128
MimeType=x-scheme-handler/Zioncoin;
Categories=Office;Finance;
